*{
	margin: 0;
    padding: 0;
}
body{
	
	background-image: url(image3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
h1{
	
	font-family: calibri;
	text-align: center;
	font-size: 40px;
	color: white;
	padding-bottom: 13px; 
}
h4{
	color: black;
	font-family: monospace;
	margin: 5px;

}

.container{
	margin: auto;
	width: 470px;
	
}
#userinput{
	margin: 5px;
	color: black;
	background-color: rgb(219, 236, 241);
	border: 3px solid blue;
	padding: 3px;
	margin: auto;
	font-size: 30px;
	width: 420px;
	border-radius: 7px;
}
.btn1{
	padding: 8px;
	margin: 6px;
	margin-left: 0px;
	display: inline;
	color: blue;
	background-color: rgb(226, 239, 243);
	border: 3px solid blue;
	border-radius: 7px;

}
.btn2{
	padding: 8px;
	margin: 6px;
	color: blue;
	background-color: rgb(222, 236, 241);
	border: 3px solid blue;
	float: right;
	margin-right: 39px;
	border-radius: 7px;

}
.btn1:hover , .btn2:hover{
	background-color: black;
	color: white;
}
h2{
	color: black;
	border-radius: 7px;

}







/* -----------------------MEDIA QUERIES CODE------------------ */

 /*_________________________SMALL MOBILE_________________*/


 @media (max-width: 300px){
/* .background{
	width: 500px;

}
#userinput{
	width: 40px;
} */
}
/* _________________________MOBILE MEDIUM_______________________ */ 

@media (min-width: 300px) and (max-width: 500px){

	.background{
		width: 300px;
	
	}
	.container{
		width: 210px;
		float: left;
	}
	#userinput{
		width: 160px;
		float: left;
		font-size: 12px;
	}
	h1{
		font-size: 20px;
		text-align: justify;

	}
	.btn1{
		width: 50px;
		padding: 4px;
		font-size: 12px;
	}
	.btn2{
		width: 50px;
		padding: 4px;
		font-size: 12px;
	}

}

/*__________________________TABLET VIEW_________________*/

@media (min-width: 500px) and (max-width: 800px){



}

/*_________________LARGE SCREEN  VIEW_________________*/

@media (min-width: 800px){





}


/* ------------------MEDIA QUERIES END--------------- */


















